.git
.DS_Store
.vscode
Graphs/a.out
Graphs/input.txt
Graphs/.vscode
Sortings/input.txt
Sortings/a.out
Sortings/.vscode
DataStructures/a.out
DataStructures/.vscode
DivideConquer/a.out
DivideConquer/a.out.dSYM
DivideConquer/.DS_Store
DivideConquer/.vscode
Greedy/a.out
Greedy/.vscode
Greedy/input.txt
Dynammic/.vscode
Dynammic/a.out
Dynammic/input.txt
