.git
.DS_Store
.vscode
DataStructures/a.out
Sortings/a.out
Graphs/a.out
Graphs/input.txt
Sortings/input.txt
DataStructures/a.out
DivideConquer/a.out
DivideConquer/a.out.dSYM
DivideConquer/.DS_Store
Greedy/a.out
